 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 400px;
      font-style: normal;

 }

 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.logo {
  width: 87px;
  height: auto;
}

.navbar-container ul {
  display: flex;
  list-style: none;
  gap: 45px;
  align-items: center;
  padding: 0 350px;
  margin: 0;
}

.navbar-container ul li {
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 500ms ease;
}

.navbar-container ul li:hover {
  font-size: 35px;
  color: rgb(255, 0, 0);
}


body {
  padding-top: 100px;
}

 main{
  width: 30%;
  margin: auto;
  padding: 30px;
 }

.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
  margin: 0;
  justify-self: center;
  border-radius: 10px;

.slides{
  width:400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width:25%;
  position: relative;
}

.slide img{
  width:800px;
  height: 100%;
  transition: 2s;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-navigation .manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: white;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

.navigation-auto div{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}


.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: white;
}

}

#footer {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.socials {
  display: flex;
}

.socials i {
  margin: 0 20px;
  font-size: 1.7rem;
  transition: all 500ms ease;
}

.socials a {
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.7rem;
  transition: all 500ms ease;
}

.socials i:hover {
  font-size: 2.7rem;
  color: rgb(196, 4, 4);
  cursor: pointer;
}